<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TechJourneyCompanion"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".CurrencyConverter"
            android:exported="false" />
        <activity
            android:name=".StopWatch"
            android:exported="false" />
        <activity
            android:name=".OtherApps"
            android:exported="false" />
        <activity
            android:name=".uploder"
            android:exported="false" />
        <activity
            android:name=".details"
            android:exported="false" />
        <activity
            android:name=".Blog"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".frontendNDK"
            android:exported="false" />
        <activity
            android:name=".frontendJetpack"
            android:exported="false" />
        <activity
            android:name=".frontendFlutter"
            android:exported="false" />
        <activity
            android:name=".frontendAnko"
            android:exported="false" />
        <activity
            android:name=".frontendXML"
            android:exported="false" />
        <activity
            android:name=".frontendHybrid"
            android:exported="false" />
        <activity
            android:name=".frontendKotlin"
            android:exported="false" />
        <activity
            android:name=".frontendJava"
            android:exported="false" />
        <activity
            android:name=".AndroideDevDatabase"
            android:exported="false" />
        <activity
            android:name=".AndroideDevBackEnd"
            android:exported="false" />
        <activity
            android:name=".AndroideDevFrontEnd"
            android:exported="false" />
        <activity
            android:name=".BioinfoDev"
            android:exported="false" />
        <activity
            android:name=".RoboticsDev"
            android:exported="false" />
        <activity
            android:name=".SoftwareDev"
            android:exported="false" />
        <activity
            android:name=".AndroidDev"
            android:exported="false" />
        <activity
            android:name=".WebDev"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>